@{
    ViewData["Title"] = "Register";
    @model FactWorkflow.Models.RegisterModel;
}

<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Register an Account</div>
        <div class="card-body">
            <form asp-action="Register" asp-controller="Account" asp-antiforgery="true">
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="text" asp-for="Name" class="form-control" placeholder="First name" required="required" autofocus="autofocus">
                        <label asp-for="Name">First name</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="email" asp-for="Email" class="form-control" placeholder="Email address" required="required">
                        <label asp-for="Email">Email address</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-label-group">
                                <input type="password" asp-for="Password" class="form-control" placeholder="Password" required="required">
                                <label asp-for="Password">Password</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-label-group">
                                <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm password" required="required">
                                <label asp-for="ConfirmPassword">Confirm password</label>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary btn-block" value="Register">
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" href="~/Account/Login">Login Page</a>
                <a class="d-block small" href="~/Account/ForgotPassword">Forgot Password?</a>
            </div>
        </div>
    </div>
</div>

