@{
    ViewData["Title"] = "Реєстрація";
    @model FactWorkflow.Models.RegisterModel;
}

<div class="container">
    @if (ViewData["Message"] == "Token")
    {
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Увага!</strong> Неправильно введений ключ реєстрації.
        </div>
    }
    else if (ViewData["Message"] == "User")
    {
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Увага!</strong> Дана електронна адреса вже використовується в системі.
        </div>
    }
    else if (ViewData["Message"] == "Password")
    {
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Увага!</strong> Паролі не співпадають.
        </div>
    }
    else if (ViewData["Message"] == "Text")
    {
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Увага!</strong> Дані введені некоректно.
        </div>
    }
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Зареєструвати аккаунт</div>
        <div class="card-body">
            <form asp-action="Register" asp-controller="Account" asp-antiforgery="true">
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="text" asp-for="Name" class="form-control" placeholder="ПІБ/Назва підрозділу" autofocus="autofocus">
                        <label asp-for="Name">ПІБ/Назва підрозділу</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="text" asp-for="Email" class="form-control" placeholder="Електронна адреса">
                        <label asp-for="Email">Електронна адреса</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-label-group">
                                <input type="password" asp-for="Password" class="form-control" placeholder="Пароль">
                                <label asp-for="Password">Пароль</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-label-group">
                                <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Підтвердження паролю">
                                <label asp-for="ConfirmPassword">Підтвердження паролю</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="text" asp-for="Token" class="form-control" placeholder="Реєстраційний ключ">
                        <label asp-for="Token">Реєстраційний ключ</label>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary btn-block" value="Зареєтруватися">
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" href="~/Account/Login">Сторінка входу</a>
                <!--<a class="d-block small" href="~/Account/ForgotPassword">Forgot Password?</a>-->
            </div>
        </div>
    </div>
</div>

