@{
    ViewData["Title"] = "Tokens";
    @model FactWorkflow.Models.Document;
}

<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~Home/Index">Головна</a>
            </li>
            <li class="breadcrumb-item active">Додати резолюцію</li>
        </ol>

        @*<div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Інформація про документ
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>*@

        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Звіт про виконання
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="col-lg-6">
                        <form role="form" enctype="multipart/form-data" method="post">
                            @Html.HiddenFor(model => model.DId)
                            <div class="form-group">
                                <label>Опис виконаної роботи</label>
                                <textarea class="form-control" name="answerText" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Завантажити файл</label>
                                <br>
                                <input type="file" name="uploadFile">
                            </div>
                            <button type="submit" class="btn btn-default">Відправити звіт</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © Your Website 2018</span>
            </div>
        </div>
    </footer>

</div>