@{
    ViewData["Title"] = "Tokens";
    @model FactWorkflow.Models.AddDocument;
}

<div id="content-wrapper">
    
    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/Home/Index">Головна</a>
            </li>
            <li class="breadcrumb-item active">Додати документ</li>
        </ol>

        @if (ViewData["Message"] == "File")
        {
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Увага!</strong> Прикріпіть, будь ласка, документ.
            </div>
        }
        else if (ViewData["Message"] == "Rector")
        {
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Увага!</strong> Не знайдено користувача з роллю Ректор.
            </div>
        }
        else if (ViewData["Message"] == "Text")
        {
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Увага!</strong> Дані введені некоректно.
            </div>
        }

        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Форма додавання документу
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="col-lg-6">
                        <form role="form" enctype="multipart/form-data" method="post">
                            <div class="form-group">
                                <label>Класифікатор</label>
                                <select class="form-control" name="classification">
                                    <option value="01">01 - Адміністрація Президента України, Верховна Рада України, Кабінет Міністрів України та його органи</option>
                                    <option value="02">02 - Міністерство освіти і науки України, Ради ректорів, Державна атестаційна комісія України</option>
                                    <option value="03">03 - Інші міністерства, органи державної виконавчої влади</option>
                                    <option value="04">04 - Народні депутати України, депутати місцевих рад</option>
                                    <option value="05">05 - Академії наук, науково-дослідні та проектні організації</option>
                                    <option value="06">06 - Посольства, консульства України за кордоном, посольства, консульства зарубіжних країн в Україні, закордонні організації</option>
                                    <option value="07">07 - Вищі та середні заклади освіти</option>
                                    <option value="08">08 - Банки, торговельні організації, фонди, ревізійні організації, Торгово-промислова палата, Центри. Асоціації</option>
                                    <option value="09">09 - Київгаз, Київенерго, Укртелеком, Київводоканал, Київтеплоенерго, Київзембуд</option>
                                    <option value="10">10 - Поліція, органи адвокатури, прокуратури та суду, військкомати, військові частини, СБУ</option>
                                    <option value="11">11 - Будівельні організації, підприємства(юридичні особи)</option>
                                    <option value="12">12 - Інші підприємства та організації</option>
                                    <option value="13">13 - Редакції газет, журналів, бібліотеки, музеї</option>
                                    <option value="14">14 - Фізичні особи</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="DocumentFrom">Кореспондент</label>
                                <input asp-for="DocumentFrom" class="form-control">
                            </div>
                            <div class="form-group">
                                <label asp-for="DocumentAbout">Короткий зміст</label>
                                <textarea asp-for="DocumentAbout" class="form-control" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Завантажити файл</label>
                                <br>
                                <input type="file" name="uploadFile">
                            </div>
                            <button type="submit" class="btn btn-default">Додати документ</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © Your Website 2018</span>
            </div>
        </div>
    </footer>

</div>
<!-- /.content-wrapper -->
@*<style>
    * {
        box-sizing: border-box;
    }

    body {
        font: 16px Arial;
    }

    .autocomplete {
        /*the container must be positioned relative:*/
        position: relative;
        display: inline-block;
    }

    input {
        border: 1px solid transparent;
        background-color: #f1f1f1;
        padding: 10px;
        font-size: 16px;
    }

        input[type=text] {
            background-color: #f1f1f1;
            width: 100%;
        }

        input[type=submit] {
            background-color: DodgerBlue;
            color: #fff;
        }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

            .autocomplete-items div:hover {
                /*when hovering an item:*/
                background-color: #e9e9e9;
            }

    .autocomplete-active {
        /*when navigating through the items using the arrow keys:*/
        background-color: DodgerBlue !important;
        color: #ffffff;
    }
</style>*@