@{
    ViewData["Title"] = "Tokens";
    @model FactWorkflow.Models.Resolve;
}

<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/Home/Index">Головна</a>
            </li>
            <li class="breadcrumb-item active">Відправити резолюцію</li>
        </ol>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Виконавці
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="arrUsers" class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ПІБ</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ПІБ</th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            
                        </tbody>
                    </table>
                    <button class="btn btn-default" onclick="submit()">Відправити</button>
                </div>
            </div>
               
        </div>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Додати виконавця
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="col-lg-6">
                            @Html.HiddenFor(model => model.DId)
                            <div class="form-group">
                                <label>Резолюція</label>
                                @Html.EditorFor(model => model.RAddress, new { htmlAttributes = new { @autocomplete = "off", @id = "raddress", @type = "text", @class = "form-control", @readonly = "true" } })
                            </div>
                            <div class="form-group">
                                <label>Посада/Відділ</label>
                                <select id="roleSelect" class="form-control" name="roleSelect" onchange="getUsers()"></select>
                            </div>
                            <div class="form-group">
                                <label>Виконавець/Кафедра</label>
                                <select id="userSelect" class="form-control" name="userSelect"></select>
                            </div>
                            <div id="cathedraUser" name="cathedraUser" class="form-group">
                                <label>ПІБ</label>
                                <input id="uzver" class="form-control">
                            </div>
                            <button class="btn btn-default" onclick="addResolution()">Додати виконавця</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © Your Website 2018</span>
            </div>
        </div>
    </footer>

</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/SendResolve.js"></script>