@{
    ViewData["Title"] = "Tokens";
    @model FactWorkflow.Models.Resolve;
}

<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/Home/Index">Головна</a>
            </li>
            <li class="breadcrumb-item active">Відправити резолюцію</li>
        </ol>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Виконавці
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="dataTable" class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ПІБ</th>
                                <th>Тип</th>
                                <th>Відповідальний</th>
                                <th>Оригінал?</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                    <button class="btn btn-default" onclick="submit()">Відправити</button>
                </div>
            </div>
               
        </div>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Додати виконавця
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="col-lg-6">
                        @Html.HiddenFor(model => model.DId)
                        <div class="form-group">
                            <label>Резолюція</label>
                            @Html.EditorFor(model => model.RAddress, new { htmlAttributes = new { @autocomplete = "off", @id = "raddress", @type = "text", @class = "form-control", @readonly = "true" } })
                        </div>
                        <div class="form-group">
                            <div class="radio">
                                <label><input type="radio" id="toObserve" name="optradio" onclick="showAdditionalFields()" checked>На ознайомлення</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" id="toDo" name="optradio" onclick="showAdditionalFields()">На виконання</label>
                            </div>
                        </div>
                        <div class="form-group" id="endDate" hidden="true">
                            <label>Кінцева дата виконання</label>
                            <input class="form-control" type="date">
                        </div>
                        <div class="form-group">
                            <label>Посада/Відділ</label>
                            <select  class="form-control" name="roleSelect" onchange="getUsers()"></select>
                        </div>
                        <div class="form-group">
                            <label>Виконавець/Кафедра</label>
                            <select class="form-control" name="userSelect"></select>
                        </div>
                        <div id="cathedraUser" name="cathedraUser" class="form-group">
                            <label>ПІБ</label>
                            <input class="form-control">
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label><input type="checkbox" value="">Оригінал?</label>
                            </div>
                            <div class="checkbox" id="responsible" hidden="true">
                                <label><input type="checkbox" value="">Відповідальний за виконання документу</label>
                            </div>
                        </div>
                        <button class="btn btn-default" onclick="addResolution()">Додати виконавця</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © Your Website 2018</span>
            </div>
        </div>
    </footer>

</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/ShowFieldsResolve.js"></script>
<!-- <script src="~/js/SendResolve.js"></script> -->