@{
    ViewData["Title"] = "Реєстраційні ключі";
    @model IEnumerable<FactWorkflow.Models.Token>;
}

<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <span>Адміністрування</span>
            </li>
            <li class="breadcrumb-item">Реєстраційні ключі</li>
        </ol>

        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Генерація реєстраційних ключів
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="col-lg-6">
                        <form role="form" method="post">
                            <div class="form-group">
                                <label>Введіть кількість ключів</label>
                                <input type="number" class="form-control" placeholder="Введіть число" name="tokenCount">
                            </div>
                            <button type="submit" class="btn btn-default">Згенерувати</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Таблиця реєстраційних ключів
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Ключ</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Ключ</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.TToken</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <!-- /.container-fluid -->
    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © Your Website 2018</span>
            </div>
        </div>
    </footer>

    <script src="~/js/tableLanguage.js"></script>

</div>
<!-- /.content-wrapper -->