@{
    ViewData["Title"] = "Список користувачів";
    @model IEnumerable<FactWorkflow.Models.User>;
}

<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <span>Адміністрування</span>
            </li>
            <li class="breadcrumb-item">Користувачі</li>
        </ol>

        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Таблиця користувачів
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Ім'я</th>
                                <th>Пошта</th>
                                <th>Роль</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Ім'я</th>
                                <th>Пошта</th>
                                <th>Роль</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.UName</td>
                                <td>@item.UMail</td>
                                <td>@Html.DisplayFor(modelItem => item.Role.RAlterName)</td>
                                <td align="center"><a href="~/Administration/DeleteUser/@item.UId"><i class="fa fa-trash bigger-130 padding-2 grey"></i></a></td>
                                <td align="center"><a href="~/Administration/EditUser/@item.UId"><i class="fa fa-pen bigger-130 padding-2 grey"></i></a></td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <!-- /.container-fluid -->
    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © Your Website 2018</span>
            </div>
        </div>
    </footer>

</div>
<!-- /.content-wrapper -->